DATABASE_URL=postgresql://seu_usuario:sua_senha@host_do_banco:5432/nome_do_banco
PORT=3000
GOOGLE_CLIENT_ID=seu_client_id_aqui
JWT_SECRET=escreva_uma_chave_longa_e_aleatoria_aqui
CORS_ORIGIN=http://localhost:3000,http://outro_dominio.com
